# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea
.DS_Store
gvite

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Leveldb database files for test, put it here temporarily
vite_leveldb_database
vite.p2p.db

# idea files
.idea/

build/

gitversion.go
